.cart {
    .side-nav {
        position: fixed;
        overflow: hidden;
        right: 0;
        top: 4rem;
        margin-right: 1rem;
        z-index: 101;
        .card {
            background: white;
            border: 0;
            width: 100% !important;
            .card-header {
                table {
                    overflow-y: scroll;
                    max-height: 200px;
                }
            }
            .my-btn {
                background: $btn-background;
                background-image: url(../images/button-mask.png) !important;
                background-repeat: no-repeat;
                z-index: 1;
                background-size: 100% 100%;
                padding: .75rem 0;
                color: white;
                transition: background 300ms ease-out;
                font-weight: bold;
        
                &:focus {
                    box-shadow: none;
                }
                &:hover {
                    background: $btn-hover;
                }
            }

            p {
                margin-bottom: 0;
            }

            .minus {
                font-size: 1rem;
                cursor: pointer;
                transition: all.5s ease-in-out;
                &:hover {
                    color: $btn-background;
                }
            }
            .quantity {
                font-size: 1rem;
            }
            .plus {
                font-size: 1rem;
                line-height: 1.4;
                cursor: pointer;
                transition: all.5s ease-in-out;
                &:hover {
                    color: #004445;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .side-nav {
            position: static;
        }
    }
}