/*==============================================
                    VOUCHERS
================================================*/
.vouchers {
    .card {
        height: 100%;
    }
}

/*==============================================
                    DETAILS
================================================*/
.details {
    .media {
        h5 {
            font-size: 15px;
            color: #2D2926;
            font-weight: bold;
        }
        img {
            width: 92px;
            height: 92px;
        }
        a {
            color: $btn-background;
        }
        p {
            font-size: 14px;
        }
    }
}

/*==============================================
                    ENQUIRIES
================================================*/
.enquiries {
    .card {
        a {
            color: $btn-background;
        }
    }
}